langchain
langchain-core
langchain-community
langchain-google-genai
langchain-text-splitters
chromadb
langchain-chroma
langchain-classic
pypdf
rank_bm25
python-dotenv
ragas
datasets
google-genai
nltk
langchain-ollama
rich
docling
pymupdf
pymupdf4llm